// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "typography";
@import "header";
@import "footer";
@import "profile";
@import "events";
@import "home";
@import "login";
@import "timeline";
@import "explore";
body {
	color: $black;
	background: #f5f8fa;
	background: #f5f6f7;
	font-family: roboto condensed;
    font-size: 14px;
    line-height: 1.5;
    padding-top: 57px;
}
a {
	color: #288ad6;
	&:hover {
		text-decoration: none;
	}
}
.text-info {
	color: $brand-blue;
}
.text-success {
	color: $brand-green;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.form-control {
	border: 1px solid rgba(34,36,38,.15);
	box-shadow: none;
	&:focus {
		border-color: rgba(34,36,38,.35);
		background: #fff;
		color: rgba(0,0,0,.8);
		box-shadow: none;
	}
}
.btn {
	&.btn-default {
		background: $white;
		color: $black;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	&.btn-primary {
		background: $brand-blue;
		border-color:  $brand-blue;
		&:active {
			background: darken($brand-blue, 20%);
			border-color: darken($brand-blue, 20%);
		}
	}
	&.btn-success {
		background: $brand-green;
		border-color: darken($brand-green, 5%);
		&:active {
			background: darken($brand-green, 10%);
			border-color: darken($brand-green, 10%);
		}
	}
	&.btn-facebook {
		background: $facebook;
		color: $white;
	}
	&.btn-twitter {
		background: $twitter;
		color: $white;
	}
	&.btn-gplus {
		background: $google-plus;
		color: $white;
	}
	i {
		font-size: 18px;
		vertical-align: middle;
		margin-right: 10px;
	}
	&:focus,
	&:active {
		box-shadow: none;
		outline: none !important;
	}
}
.dropdown-menu {
	border: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    margin-top: 1px;
	padding: 0;
	li {
		a {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-010s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.delay-015s { animation-delay: 1.5s; -webkit-animation-delay: 1.5s; }
.delay-020s { animation-delay: 2s; -webkit-animation-delay: 2s; }
.delay-025s { animation-delay: 2.5s; -webkit-animation-delay: 2.5s; }
.delay-030s { animation-delay: 3s; -webkit-animation-delay: 3s; }
.delay-035s { animation-delay: 3.5s; -webkit-animation-delay: 3.5s; }
.delay-040s { animation-delay: 4s; -webkit-animation-delay: 4s; }
.delay-045s { animation-delay: 4.5s; -webkit-animation-delay: 4.5s; }



.duration-010s { -webkit-animation-duration: 1s; animation-duration: 1s; }
.duration-015s { -webkit-animation-duration: 1.5s; animation-duration: 1.5s;  }
.duration-020s { -webkit-animation-duration: 2s; animation-duration: 2s; }
.duration-025s { -webkit-animation-duration: 2.5s; animation-duration: 2.5s;  }
.duration-030s { -webkit-animation-duration: 3s; animation-duration: 3s; }
.duration-035s { -webkit-animation-duration: 3.5s; animation-duration: 3.5s;  }
.duration-040s { -webkit-animation-duration: 4s; animation-duration: 4s; }
.duration-045s { -webkit-animation-duration: 4.5s; animation-duration: 4.5s;  }
.box {
	padding: 0;
	border: 10px solid #f5f8fa;
	.panel {
	    border-color: #ebebeb;
	    box-shadow: none;
	    margin: 0;
	    .panel-heading {
		    background-color: $white;
			border-color: #ebebeb;
			padding: 15px;
			h3 {
				font-size: 16px;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: .05em;
			}
			i {
				vertical-align: middle;
				font-size: 22px;
			}
	    }
	    .panel-body {
	    	.med-cond {
	    		margin: 0;
	    		li {
	    			margin-bottom: 10px;
	    			&:last-child {
	    				margin: 0;
	    			}
	    		}
	    	}
	    }
	}
}
.subnav {
		background: $white;
		box-shadow: 4px -2px 11px rgba(0, 0, 0, 0.18);
		li {
			a {
				padding: 15px 20px;
				border-radius: 0;
				color: $black;
				&:hover {
					background: #F7F7F7;
				}
			}
			&.active {
				a {
					color: $brand-blue !important;
    				background: transparent !important;
    				box-shadow: 0 -2px 0 $brand-blue inset;
				}
			}
			+ li {
				margin: 0;
			}
		}
	} 
	.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}