.map-wrapper {
	padding: 0;
	#map {
		height: calc(100vh - 56px);
	}
}
#createDrawer {
	background-color: #fafafa;
	height: calc(100vh - 56px);
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
	padding: 0 0 50px;
	position: fixed;
	right: 0;
	top: 56px;
	overflow: auto;
	z-index: 2;
	.footer {
		position: fixed;
		right: 0;
		bottom: 0;
		padding: 10px;
		background: $white;
		border-top: 1px solid #ebebeb;
	}
	h3 {
		background: $white;
		border-bottom: 1px solid #ebebeb;
		padding: 20px;
		margin: 0;
		line-height: 50px;
		padding: 0;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .05em;
	}
	.content {
		padding: 20px;
	}
	.form-group {
		margin-bottom: 30px;
		.title {
			font-weight: 100;
			color: $black;
			opacity: .5;
		}
		.form-control {
			min-height: 44px;
			+ i {
				color: #B1B1B1;
				position: absolute;
				font-size: 16px;
				left: 32px;
				bottom: 9px;
			}
		}
		&.icon {
			input {
				padding-left: 40px;
			}
		}
	}
	.btn-group {
		.btn {
			&.active {
				border-color: rgba(1, 181, 238, 0.2) !important;
				background: rgba(1, 181, 238, 0.2) !important;
				text-shadow: 0 1px 1px #FFF;
				box-shadow: none;
			}
			&:hover {
				background: #f7f7f7;
				border-color: #EBEBEB;
			}
			i {
				font-size: 16px;
				margin-right: 5px;
				vertical: middle;
			}
		}
	}
	.avail-routes {
		i {
			visibility: hidden;
			margin-left: -19px;
		}
		.active {
			i {
				visibility: visible;
			}
		}
	}
	.table {
		tr {
			&:hover {
				td {
					background: $white;
				}
				.ion-link {
					visibility: visible;
				}
			}
		}
	}
}