@import "variables";
.navbar {
	background: $white;
	border-radius: 0;
	margin: 0;
	z-index: 3;
	border: none;
	border-bottom: 1px solid #edeeee;
	&.persistent {
		background: #000 !important;
		-webkit-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
	}
	.navbar-brand {
		color: #01B5EE;
		line-height: 26px;
		&:hover {
			color: darken(#01B5EE, 10%);
		}
	}
	.searchbar {
		border: 1px solid #eee;
		background: #fafafa;
		border-radius: 4px;
		overflow: hidden;
		position: relative;
		max-width: 700px;
		margin: 11px auto;
		padding: 0;	
		button,
		input {
			background: none;
			border: none;
			color: #818488;
			border-radius: 0;
			height: 32px;
			&:focus {
				background: $white;
			}
		}
		.form-group,
		input {
			width: 100%;
		}
		button {
			background: transparent;
			position: absolute;
			right: 0;
			top: 0;
			padding: 0;
			width: 50px;
			font-size: 20px;
		}
	}
	.navbar-nav {
		> li {
			> a {
				line-height: 26px;
				color: #7A7E85;
				&.plan-ride {
					height: 32px;
					border-radius: 4px;
					line-height: 32px;
					padding: 0 20px;
					margin: 12px;
					background-color: $brand-green;
					color: $white;
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: .05em;
					&:hover {
						background: darken($brand-green, 5%);
						color: $white;
					}
				}
				&.auth-actions {
					padding-bottom: 14px;
					color: #B1B1B1;
					i {
						font-size: 24px;
						display: inline-block;
						vertical-align: middle;
					}
					&.active {
						color: #B1B1B1;
						i {
							&:after {
								background: $brand-red;
								height: 6px;
								width: 6px;
								border-radius: 50%;
								content: "";
								position: absolute; 
								right: 0;
							}
						}
					}
				}
				&:hover {
					color: #01B5EE;
				}
			}
			&.user-dd {
				> a {
					padding-top: 8px;
					padding-bottom: 8px;
					img {
						margin-right: 5px;
					}
					i {
						font-size: 24px;
						vertical-align: middle;
						margin-left: 5px;
						display: inline-block;
					}
				}
				&.open {
					> a {
						background: none !important;
						color: #01B5EE;
					}
				}
			}
		}
	}
	&.navbar-marketing {
		background: none;
		border: none;
		min-height: 0;
		.navbar-brand {
			color: $white;
			height: auto;
			padding: 0 15px;
			line-height: 44px;
		}
		.navbar-right {
			a {
			    color: #fff;
			    margin: 8px;
			    height: 28px;
			    line-height: 28px;
			    padding: 0 8px;
			    display: block;
			    text-transform: uppercase;
			    font-size: 12px;
			    font-weight: 400;
			    cursor: pointer;
				letter-spacing: .1em;
				-webkit-transition: .2s;
				-o-transition: .2s;
				transition: .2s;
			    &:hover,
			    &:focus {
			    	background: none;
			    }
			    &.btn {
					font-size: 12px;
					line-height: 25px;
					border: 1px solid #cdcdcd;
					padding: 1px 15px 0 15px;
					&:hover {
						background: $white;
						color: $dark-gray;
					}
			    }
			}
		}
	}
}