.cover-wrapper {
	margin-top: -57px;
	background: url(https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/11950340_1015256518508594_7988462077792327750_o.jpg) center  / cover;
	background: url(https://drscdn.500px.org/photo/70243939/m%3D2048/b9a47cc48e73fb37c8415dc858344f85) center  / cover;
	min-height: calc(100vh - 200px);
	display: table;
	width: 100%;
	&::after {
		content: '';
		z-index: 1;
		position: absolute;
		top: 0;
		width: 100%;
		height: 80px;
		left: 0;
		background-image: -moz-linear-gradient(top,rgba(0,0,0,.35),transparent);
		background-image: -webkit-linear-gradient(top,rgba(0,0,0,.35),transparent);
		background-image: -o-linear-gradient(top,rgba(0,0,0,.35),transparent);
		background-image: linear-gradient(to bottom,rgba(0,0,0,.35),transparent);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#00000000', GradientType=0);
	}
	.content {
		display: table-cell;
		vertical-align: middle;
		color: $white;
		h1 {
			font-size: 48px;
			font-weight: 300;
			margin: 0 0 20px;
			text-shadow: 0 0 1px rgba(0,0,0,0.6);
		}
		h2 {
			font-weight: 300;
			font-size: 24px;
			margin-bottom: 40px;
			text-shadow: 0 0 1px rgba(0,0,0,0.6);
		}
		.btn {
			border-radius: 4px;
			min-width: 250px;
			height: 50px;
			padding: 0;
			text-align: center;
			line-height: 48px;
			font-size: 20px;
			box-shadow: 0px 1px 0px rgba(255,255,255,0.15) inset,0px 1px 2px rgba(0,0,0,0.15);
			text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
			&:hover {
				background: lighten($brand-blue, 4%);
			}
			&:active {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.32) inset;
			}
		}
		.scroll-to-content {
			bottom: 5px;
			color: $white;
			font-size: 30px;
			text-shadow: 0 0 1px rgba(0,0,0,0.6);
			left: 50%;
		}
	}
}

/* Extra Small Devices, Phones */ 
.stats {
	border-bottom: 1px solid #eeeff2;
	background: $white;
	.container {
		display: table;
		.row {
			display: table-row;
		}
	}
	.col-md-4 {
		height: 200px;
		display: table-cell;
		border-right: 1px solid #eeeff2;
		padding: 25px;
		vertical-align: middle;
		float: none;
		&:last-child {
			border: none;
		}
		h4 {
			text-transform: uppercase;
			letter-spacing: .1em;
		}
		h2 {
			font-size: 36px;
		}
	}
}
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
.featured-trips {
	padding: 80px 20px;
	background: $white;
}
.data-card {
	.content {
		margin-left: 120px;
	}
}
.data-card {
	margin-top: 20px;
	h4 {
		font-size: 20px;
		text-transform: uppercase;
	}
	p {
		font-size: 14px;
		color: #7f7f7f;
		margin-bottom: 10px;
	}
}
.upcoming-rides {
	padding: 80px 0;
	background: #f0f0f3;
	.section-title {
		margin-bottom: 40px;
	}
}
.ride-card {
	border-radius: 0;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	.user-data {
		padding: 10px 20px;
		a {
			margin-left: 8px;
			color: #555;
		}
		.text-muted {
			line-height: 40px;
		}
	}
	.ride-cover {
		padding: 40% 0;
	}
	.caption {
		padding: 20px;
		color: $lightgray;
	}
	.name {
		font-size: 22px;
		margin: 0 0 10px;
		text-transform: uppercase;
		a {
			color: #555;
		}
	}
	.progress {
		height: 8px;
		margin: 20px 0 0;
		box-shadow: none;
		.progress-bar-danger {
			background: $brand-red;
			box-shadow: none;
		}
	}
	ul {
		margin: 15px 0 0;
		font-size: 90%;
	}
	&:hover {
		a {
			color: $brand-blue;
		}
	}
}
.buttons {
	margin-top: 50px;
	.btn {
		border-radius: 4px;
		min-width: 250px;
		height: 50px;
		padding: 0;
		margin: 10px 8px;
		text-align: center;
		line-height: 48px;
		font-size: 18px;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
		&.btn-default {
			text-shadow: none;
		}
	}
}