.login-wrapper {
	//background: url(https://drscdn.500px.org/photo/24250499/m%3D2048/96b502be93c81bd3359bb7e827637d39) center / cover;
	background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/bgnoise_lg.png);
	height: calc(100vh - 101px);
	padding-top: 84px;
	position: relative;
}
.login-box {
	background: #FFF;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	position: relative;
	z-index: 2;
	margin-bottom: 20px;
	a {
		font-weight: 100;
	}
	[class*="col-"] {
		padding: 30px 40px;
		//min-height: 438px;
		&.with-social {
			background: #f5f6f7;
			&.login {
				min-height: 338px;
			}
			&.signup {
				min-height: 438px;
			}
		}
	}
	h3 {
		font-size: 22px;
		margin: 0 0 40px;
	}
	.btn {
		margin-bottom: 10px;
		line-height: 40px;
		padding: 0;
	}
	.form-group {
		margin-bottom: 10px;
	}
	.form-control {
		height: 40px;
		background-color: rgba(76, 102, 164, 0.04);
		border: 1px solid rgba(76, 102, 164, 0.1);
	}
	.btn-action {
		margin-top: 20px;
		padding: 0 20px;
	}
	.back-to {
		margin-top: 33px;
	}
}