@import "variables";
.profile-lhs {
	background: $white;
	width: 300px;
	min-height: calc(100vh - 56px);
	border-right: 1px solid #ebebeb;
	padding: 0;
	.profile-info {
		padding: 20px;
		background: #f9f9f9;
		border-bottom: 1px solid #ebebeb;
		position: relative;
		small {
			vertical-align: top;
		}
		.edit {
		    position: absolute;
		    top: 5px;
		    right: 5px;
		    font-size: 20px;
		    padding: 5px;
		    color: #B1B1B1;
		    border-radius: 4px;
		    width: 32px;
		    height: 32px;
		}
	}
	.avatar-holder {
	    border: 2px solid #fff;
	    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
	    width: 129px;
	    height: 129px;
	    margin: 0 auto 20px;
	}
	.list-social {
		font-size: 18px;
		margin: 0;
		li {
			padding: 10px 0 0;
			a {
				color: $brand-blue;
				display: inline-block;
				width: 32px;
				height: 32px;
				background-color: $white;
				line-height: 32px;
				font-size: 16px;
				border-radius: 4px;
				border: 1px solid #ebebeb;
				&.fb {
					color: #40519e;
				}
				&.tw {
					color: #00b5ee;
				}
				&.gp {
					color: #d94439;
				}
				&.ig {
					color: #58749c;
				}
			}
		}
	}
	.main-actions {
		li {
			margin: 0 8px;
			padding: 0;
			button {
				width: 110px;
			}
		}
	}
	.profile-meta {
		padding: 20px;
		li {
			margin-bottom: 15px;
			background-color: #f5f6f7;
			border-radius: 50px;
			line-height: 50px;
			em {
				height: 50px;
			    width: 50px;
			    background: #203035;
			    display: inline-block;
			    color: $white;
			    font-size: 24px;
			    font-style: normal;
			}
			span {
				margin-left: 12px;
			}
		}
	}
}
.profile-rhs {
	width: calc(100% - 300px);
	padding: 0;
	.content {
		padding: 10px;
	}
	.trip-card {
		padding: 0;
		border: 10px solid transparent;
		figure {
			background: url(https://res.cloudinary.com/roadtrippers/image/upload/c_fill,h_280/v1438617011/glaciers-waterfalls-hikes-and-more-these-are-alaskas-best-drives.png) top / cover;
			padding: 30%;
			display: block;
			overflow: hidden;
			position: relative;
			.kms {
				position: absolute;
				bottom: 20px;
				right: 20px;
				padding: 6px 10px;
				background-color: rgba(0, 0, 0, 0.5);
				color: $white;
				border-radius: 6px;
				font-size: 12px;
			}
		}
		.card-content {
			border-right: 1px solid #F5F6F7;
			border-bottom: 1px solid #F5F6F7;
			overflow: hidden;
			background: $white;
			padding: 20px;
		}
		h4 {
			font-family: roboto slab;
			line-height: 1.5;
			margin: 0;
			font-weight: normal;
			a {
				color: #000;
			}
		}
	}
	.table-responsive {
		margin: 10px;
		table {
			table-layout: fixed;
		}
		.trip-row {
			&:hover {
				background: $white;
				.ion-link {
					visibility: visible;
				}
			}
		}
		th {
			font-weight: normal;
			padding-left: 20px;
			&:first-child {
				padding-left: 30px;
			}
		}
		td {
			height: 60px;
			padding: 0 15px;
			line-height: 1;
			vertical-align: middle;
			&:first-child {
				padding-left: 30px;
			}
			a {
				color: $black;
				line-height: 60px;
				display: inline-block;
				max-width: 100%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				&:hover {
					color: $brand-blue;
				}
			}
			.ion-link {
				color: $brand-blue;
				visibility: hidden;
			    left: 10px;
			    font-size: 18px;
			    transform: rotate(-45deg);
			    top: 18px;
			}
		}
	}
}
.profile-ranking {
	background: #5a7ea8;
	color: $white;
	padding: 20px;
}