h1 {
	font-size: 32px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 16px;
}
.section-title {
	font-size: 40px;
	line-height: 52px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	+ p {
		padding: 15px;
		font-size: 18px;
		line-height: 30px;
		color: #7f7f7f;
	}
}