$brand-blue: #288ad6;
$brand-orange: #f7643c;
$brand-red: #ff4546;
$brand-green: #16c98d;
$brand-red: #fa5e5b;
$white: #FFF;
$black: #000;
$gray: #3b444f;
$dark-gray: #2c3643;
$lightgray: #b2b0a9;
$yellow: #feef6d;
$teal: #0FDEBD;
$facebook: #4c66a4;
$twitter: #2fc2ef;
$google-plus: #dd4b39;
$pinterest: #cb2027;